* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body,
html {
    font-size: 12px;
}

img {
    vertical-align: top;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.L_top_image {
    position: relative;
}

.L_top_image img {
    width: 100%;
    max-width: 100%;
}

.L_top_image a {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 0;
    right: 10px;
}

.L_top_image a img {
    width: 100%;
    height: 100%;
}

.L_top_t {
    height: 40px;
    padding: 1px 0;
    line-height: 40px;
    background: #F7F7F7;
}

.L_top {
    height: 40px;
}

.L_top ul {
    float: right;
}

.L_top ul li {
    float: left;
}

.L_top ul li:nth-child(2) a {

}

.L_top ul li a {
    color: #999;
}

.L_top ul li b {
    color: #CECECE;
    margin: 0 15px;
}

/* 搜索导航 */
.L_nav {
    overflow: hidden;
}

.L_seek {
    width: 750px;
}

.L_seek_Logo {
    float: left;
    margin-top: 13px;
}

.L_seek_Logo img {
    width: 240px;
    height: 75px;
}

.L_seek_shopp {
    margin-top: 22px;
}

.L_seek {
    margin: 0 auto;
}

.L_seek_ipt {
    width: 552px;
    margin: 0 auto;
}

.L_seek_ipt input {
    display: block;
    float: left;
    padding: 3px 10px;
    width: 500px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #757575;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #EBEBEB;
    border-right: none;
    margin-top: 45px;
}

.L_seek_ipt button {
    float: left;
    right: 0;
    width: 52px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #DCDCDC;
    border-left: none;
    box-sizing: border-box;
    background: url('../img/so-icon.png') center no-repeat;
    margin-top: 45px;
}

.L_seek ul {
    width: 552px;
    margin: 0 auto;
    margin-top: 10px;
}

.L_seek ul li {
    float: left;
    margin-right: 8px;
    line-height: 40px;
}

.L_seek ul li a {
    color: #CC3341;
}

.L_seek_shopp {
    float: right;
}

/* 一二级菜单 */

.L_header {
    overflow: hidden;
}

.L_header_top {
    position: relative;
    height: 40px;
    background: #fff;
    line-height: 40px;
}

.L_header_left {
    float: left;
    position: absolute;
    width: 200px;
    border-bottom: 40px solid #CC3341
}

.L_header_left span img {
    position: absolute;
    top: 1.5px;
    left: -30px;
    width: 20px;
    height: 17px;
    color: #fff;
}

.L_header_left span {
    position: absolute;
    top: 11px;
    left: 60px;
    color: #fff;
    font-size: 16px !important;
    line-height: 20px;
}

.L_header_center ul {
    margin-left: 250px;
    max-width: 700px;
    overflow: hidden;
}

.L_header_center ul li {
    float: left;
    font-size: 14px;
    margin-left: 42px;
    max-width: 128px;
    height: 45px;
    overflow: hidden;
}

.L_header_center ul li a {
    color: #333;
    font-weight: bold;
}

.L_header_center ul li:nth-child(1) a {
    color: #CC3341;
}

.L_header_right {
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
}

.L_header_right a {
    color: #CC3341;
    float: left;
    vertical-align: text-bottom;
    background: url('../img/shopping_red.png') left center no-repeat;
    margin-left: 40px;
    padding-left: 25px;
}

.L_header_right a span {
    display: inline-block;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #CC3341;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    transform: scale(.8);
}

/* menu 菜单 */
.L_menu {
    height: 500px;
}

.L_menu_left {
    float: left;
    width: 200px;
    height: 490px;
    background: rgba(0, 0, 0, .9);
}

.L_left {
    background: rgba(0, 0, 0, .9);
}

/* 第一个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_one {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_one ul {
    overflow: hidden;
}

.L_left_one ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_one ul li a {
    color: #666;
}

.L_menu_2 {
    position: relative;
    width: 159px;
    height: 366px;
    top: -58px;
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2 div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2 div div a {
    color: #333;
}

/* 第二个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_two {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_two ul {
    overflow: hidden;
}

.L_left_two ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_two ul li a {
    color: #666;
}

.L_menu_2_two {
    position: relative;
    width: 159px;
    height: 366px;
    top: -119px;
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2_two div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2_two div div a {
    color: #333;
}

/* 第三个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_three {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_three ul {
    overflow: hidden;
}

.L_left_three ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_three ul li a {
    color: #666;
}

.L_menu_2_three {
    position: relative;
    width: 159px;
    height: 366px;
    top: -180px;
    /*每个差60px */
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2_three div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2_three div div a {
    color: #333;
}

/* 第四个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_four {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_four ul {
    overflow: hidden;
}

.L_left_four ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_four ul li a {
    color: #666;
}

.L_menu_2_four {
    position: relative;
    width: 159px;
    height: 366px;
    top: -240px;
    /*每个差60px */
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2_four div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2_four div div a {
    color: #333;
}

/* 第五个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_five {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_five ul {
    overflow: hidden;
}

.L_left_five ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_five ul li a {
    color: #666;
}

.L_menu_2_five {
    position: relative;
    width: 159px;
    height: 366px;
    top: -301px;
    /*每个差60px */
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2_five div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2_five div div a {
    color: #333;
}

/* 第六个 */
.L_one {
    line-height: 29px;
}

.L_one a {
    color: #ffffff;
    font-size: 14px;
}

.L_left_six {
    box-sizing: border-box;
    height: 61px;
    padding: 12px 10px 0 20px;
    position: relative;
}

.L_left_six ul {
    overflow: hidden;
}

.L_left_six ul li {
    float: left;
    margin-right: 7.5px;
}

.L_left_six ul li a {
    color: #666;
}

.L_menu_2_six {
    position: relative;
    width: 159px;
    height: 366px;
    top: -362px;
    /*每个差60px */
    right: -180px;
    text-align: center;
    background: #fff;
    display: none;
}

.L_menu_2_six div div {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding-top: 23px;
    height: 66px;
}

.L_menu_2_six div div a {
    color: #333;
}

/* 商城公告 */
.L_menu_rigth {
    float: right;
    overflow: hidden;
}

.menu_notice {
    height: 118px;
    background-color: white;
    line-height: 22px;
    padding: 20px;
}

.menu_notice div p {
    display: inline-block;
}

.menu_notice div span a {
    float: right;
    color: #999;
}

.menu_notice div ul li a {
    color: #666;
}

.L_not a img {
    height: 332px !important;
}

.L_menu_img {
    width: 100%;
    background: #F7F7F7;
}

.L_menu_img_d {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.L_menu_img_d div {
    float: left;
    margin: 0 5px;
}

.L_rotate_size {
    width: 245px;
    text-align: center;
    margin-top: 17px;
}

.L_menu_rotate {
    padding-top: 20px;
    height: 110px;
    border-bottom: 13px solid #F7F7F7;
    border-top: 13px solid #F7F7F7;
    background-color: #fff;
}

.L_rotate_size {
    float: left;
}

.L_rotate_size h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.L_rotate_img {
    width: 865px;
    float: left;
    position: relative;
}

.L_rotate_img div:nth-child(1) {
    position: absolute;
    top: 26px;
    width: 900px;
}

.L_rotate_img div:nth-child(1) a:nth-child(1) {
    float: left;
}

.L_rotate_img div:nth-child(1) a img {
    width: 20px;
}

.L_rotate_img div:nth-child(1) a:nth-child(2) {
    float: right;
}

.L_rotate_img div:nth-child(2) {
    width: 815px;
    height: 117px;
    margin: -15px 50px 0;
    overflow: hidden;
    position: relative;
}

.L_rotate_img div:nth-child(2) ul {
    position: absolute;
    height: 117px;
    overflow: hidden;
}

.L_rotate_img div:nth-child(2) ul li {
    position: relative;
    float: left;
    padding: 0 24px;
    border-left: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 9px;
    text-align: center;
    box-sizing: border-box;
}

.L_rotate_img div:nth-child(2) ul li:nth-child(1) {
    border-left: none;
}

.L_rotate_img div:nth-child(2) ul li a {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

/* 特惠专区 */
.L_sale {
    height: auto;
    border-bottom: 40px solid #fff;
}

.L_sale_d1 {
    overflow: hidden;
    height: 72px;
    background: #fff;
}

.L_d1_d {
    height: 72px;
    line-height: 72px;
    width: 180px;
    float: left;
    position: relative;

}

.L_d1_d h3 {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.L_d1_a {
    float: right;
    height: 72px;
    line-height: 72px;
    color: #CC3341;
    position: relative;
}

.L_sale_d2 {
    height: 540px;
}

.L_sale_d2 ul {
    position: absolute;
    border-left: 1px solid #EBEBEB;
    max-height: 540px;
    overflow: hidden;
}

.L_sale_d2 ul li {
    width: 238px;
    float: left;
    height: 270px;
    box-sizing: border-box;
    border: 1px solid #EBEBEB;
    text-align: center;
    padding: 0 16px;
    position: relative;
    border-left: none;
}

.L_sale_d2 ul li .L_sale_img {
    width: 120px;
    text-align: center;
    overflow: hidden;
    padding-top: 30px;
    margin: 0 auto;
    transition: all .6s;
}

.L_sale_d2 ul li .L_sale_img:hover {
    transform: scale(1.1);
}

.L_sale_d2 ul li .L_sale_size {
    margin-top: 40px;
    line-height: 30px;
}

.L_sale_d2 ul li .L_sale_size p {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    color: #333;
}

.L_sale_d2 ul li .L_sale_size span {
    color: #CC3341;
    font-size: 16px;
}

.L_ {
    background: #F7F7F7;
}

.L_soy {
    overflow: hidden;
}

.L_soy_top {
    overflow: hidden;
}

.L_soy_top_left {
    height: 60px;
    line-height: 60px;
    width: 180px;
    padding-left: 16px;
    float: left;
    position: relative;
}

.L_soy_top_left i {
    position: absolute;
    top: 20px;
    left: 0;
    width: 6px;
    height: 21px;
    background-color: #47A274;
}

.L_soy_top_left h3 {
    float: left;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    color: #47A274;
}

.L_soy_top_right {
    max-width: 800px;
    float: right;
    height: 19px;
    overflow: hidden;
    padding-top: 23px;
}

.L_soy_top_right li {
    float: left;
    padding-right: 10px;
}

.L_soy_top_right li a {
    padding: 0 5px 0 0;
    color: #333;
}

.L_soy_top_right li a:hover {
    color: #CC3341;
}

.L_soy_bot {
    overflow: hidden;
    margin-bottom: 10px;
}

.L_soy_bot_big {
    float: left;
    margin-right: 10px;
}

.L_soy_bot_big .big {
    width: 230px;
    height: 292px;
    text-align: center;
    overflow: hidden;
    transition: all .2s linear;
}

.L_soy_bot_big .big:hover {
    box-shadow: 0 5px 6px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

.big img {
    display: inline;
    margin-right: 10px;
    width: 230px;
    height: 292px;
}

.small {
    position: relative;
    width: 230px;
    height: 292px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 0 16px;
    border-bottom: none !important;
    background: #fff;
    margin-right: 7px;
    transition: all .2s linear;
}

.small:hover {
    box-shadow: 0 5px 6px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

.small_img {
    height: 120px;
    width: 120px;
    text-align: center;
    margin: 40px auto 20px;
    overflow: hidden;
}

.small_siez p {
    font-size: 12px;
    color: #666;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 18px;
}

.small_siez span {
    display: block;
    margin-top: 8px;
    color: #CC3341;
    font-size: 16px;
}

/* 底部 */
.L_footer_top {
    overflow: hidden;
    margin-bottom: 10px;
}

.L_footer_ul li:nth-child(4) {
    border-right: none;
}

.L_footer_li {
    width: 25%;
    padding-left: 70px;
    float: left;
    box-sizing: border-box;
    line-height: 94px;
    border-right: 1px solid #EBEBEB;
    ;
}

.L_fo_li_div {
    float: left;
}

.L_fo_li_div img {
    margin-top: 31px;
}

.L_footer_li div:nth-child(2) {
    float: left;
    font-size: 14px;
    margin-left: 10px;
}

.L_footer_bto .L_bto_left {
    float: left;
}

.L_footer_bto {
    height: 120px;
    border-top: 1px solid #EBEBEB;
    background: #fff;
    clear: both;
    padding: 30px 0;
}

.L_bto_left {
    border-right: 1px solid #EBEBEB;
}

.L_bto_left div {
    width: 179px;
    float: left;
    height: 120px !important;
}

.L_bto_left div h3 {
    font-size: 14px;
    width: 179px;
    line-height: 20px;
    height: 40px;
    font-weight: 500;
}

.L_bto_left div ul {
    width: 200px;
}

.L_bto_left div ul li {
    line-height: 25px;
}

.L_bto_left div ul li a {
    color: #666;
}

.L_bto_left div h3 a {
    color: #333;
}

.L_footer_bto .L_bto_right {
    width: 294px;
    float: left;
    text-align: center;
}

.L_bto_right p {
    font-size: 16px;
    color: #CC3341;
    margin-bottom: 3px;
}

.L_bto_right span {
    color: #666;
}

.L_bto_right div {
    margin: 10px 0 13px;
}

.L_bto_right div a {
    display: inline-block;
    border: 1px solid #CC3341;
    width: 122px;
    height: 30px;
    line-height: 32px;
    color: #CC3341;
    background: url('../img/L_online.png') 24px no-repeat;
    padding-left: 20px;
    background-size: 14px;
}

.L_butoom {
    overflow: hidden;
    background-color: #F7F7F7;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #666;
}

.L_buto {
    padding: 40px 0 50px;
    line-height: 30px;
    height: 214px;
}

.L_but_d {
    margin-bottom: 40px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.L_but_s {
    float: left;
}

.L_but_s_div1 {
    margin-bottom: 10px;
}

.L_but_s_div1 a {
    color: #666;
}

.L_but_s_div1 a b {
    color: #ccc;
}

.L_but_s_div2 {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #666;
    line-height: 30px;
}

.L_but_s_div2 a {
    color: #666;
}

.L_but_s_div2 a img {
    width: 12px;
    height: 12px;
    margin-top: 8px;
}

.L_but_a {
    float: right;
}

.L_but_a div a {
    display: inline-block;
    margin-right: 16px;
    text-align: center;
    vertical-align: top;
}

.L_but_a div a img {
    width: 96px;
    height: 96px;
}

.L_but_a div a div {
    color: #666;
}